.returnTo {
    border: 1.5px solid #333333;
    color: #333333;
    font-size: 15px;
    letter-spacing: 0.1rem;
    padding: 15px;
    position: relative;
    width: 200px;
    height: 80px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    float: left;
}