.shoppingAgain {
    border: 2.8px solid #333333;
    color: #333333;
    font-size: 15px;
    letter-spacing: 0.1rem;
    padding: 15px;
    position: relative;
    width: 200px;
    height: 80px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
   float: left;
}
.totalHarga {
    border: 2.8px solid #333333;
    color: #333333;
    font-size: 15px;
    letter-spacing: 0.1rem;
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: left;
    font-family: 'Dosis', sans-serif;
    
    margin-left: 5px;
}
.shoppingAgain:hover{
    background-color: orange;
    color:white;
}
.checkOut {
    float:right;
    border: 2.8px solid #333333;
    color: #333333;
    font-size: 15px;
    letter-spacing: 0.1rem;
    padding: 15px;
    position: relative;
    width: 200px;
    height: 80px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.checkOut:hover{
    background-color: orange;
    color:white;
}
.CartBtnStyle{
    border: 1.2px solid #333333;
    color: #333333;
    font-size: 10px;
    letter-spacing: 0.1rem;
    padding: 15px;
    position: relative;
    width: 100px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    position: relative;
}
.CartBtnStyle:hover{
    background-color: orange;   
}
.delete:hover{  
    background-color: red;
}
.cancel:hover{  
    background-color: red;
}