.mainLogo{
float: left;
border-right: 2px solid black;
width: 120px;

}

.navbar2{
    width: 100px;
    float: left;
    margin-left: 10px;
}
.navbar2:hover{
    color:orange;
    
}
.topTitle{
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px 0 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.notification{
    font-size: 15px;
    position: absolute;
    left: 168px;
    top: 6px;
    text-align: center;
    border-radius: 20px;
}
.fa-shopping-basket{
    position: absolute;
    top:15px;
}