.mainLogo{
float: left;
width: 120px;

}

.navbar2{
    width: 100px;
    float: left;
    margin-left: 10px;
}
.navbar2:hover{
    color:orange;
    cursor: pointer;
}
.navbar3:hover{
    color:orange;
    cursor: pointer;
}
.topTitle{
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px 0 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.notification{
    font-size: 15px;
    position: absolute;
    right: 95px;
    top: 8px;
    text-align: center;
    
}
.notification2{
    font-size: 15px;
    position: absolute;
    right: 135px;
    top:8px;
    text-align: center;

}
.fa-bell{
    position: absolute;
    top:20px;
    right:140px;
}
.fa-shopping-basket{
    position: absolute;
    top:20px;
    right:100px;
}
.fab .fa-gratipay{
    color: orange;
}