
.latestProduct{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;

}
.latestProduct img:hover{
  transition: transform .9s;
  transform: scale(1.2);
}
.category{
    font-size: 20px;
    margin-top: 10px;
    
    
}
.category img{
  opacity: 1;  
  cursor: pointer;
}
.category img:hover{
  opacity: 0.7;
  transition: transform .9s;
}
.slick-prev:before,
.slick-next:before {
  color: orange;
  z-index: 1000;
  position: absolute;
  
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 2.5s 2.5s, height 2.5s 2.5s, opacity 2.5s;

}
.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}