
.latestProduct{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;

}
.category{
    font-size: 20px;
    margin-top: 10px;
    
    
}
.slick-prev:before,
.slick-next:before {
  color: orange;
  z-index: 1000;
  position: absolute;
  
}