.ProductBtnStyle{
    border: 1.2px solid #333333;
    color: #333333;
    font-size: 10px;
    letter-spacing: 0.1rem;
    padding: 15px;
    position: relative;
    width: 100px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    position: relative;
       
}
.ProductBtnStyle:hover{
    background-color: orange;   
}
.delete:hover{  
    background-color: red;
}
.cancel:hover{  
    background-color: red;
}
