.diskon{
   
    position: absolute;
    right: 0px;
    top:0px;
    width: 70px;
    height: 30px;
    background-color:orange;
    color: white;
    
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    
}
.gambar{
    cursor: pointer;
}

.kategori{
    cursor: pointer;
    width: 100px;
    background-color: orange;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    
}
.wrapProduct{
    padding-bottom: 2%;

}

.showMore{
    border: 1px solid orange;
    width: 120px;
    justify-content: center;
    padding-left: 20px;
    padding-top:15px; 
    border-radius:10px;
    margin: 0 auto;
}
.showMore:hover{
    background-color: orange;
    border-radius:10px;
    color:white;
}
.showMore p{
    cursor: pointer;
    
}
